<h1>Admin Menu</h1>
<div class="container">
    <div>Employee ID: {{id}}</div>
    <div>First Name: {{fName}}</div>
    <div>Last Name: {{lName}}</div>
    <div>Accumlated PTO: {{pto}}</div>
    <div>Remaining Sick Days: {{sto}}</div>
    <div>
	<form action="/register-user" method="post">
		<input type="submit" value="Register New Employee">
   	</form>
    </div>
</div>
