<h1>Admin Menu</h1>
<div class="container">
    {{!-- <div>First Name: {{fName}}</div>
    <div>Last Name: {{lName}}</div> --}}
    <div>Accumlated PTO: {{pto}}</div>
    <div>Remaining Sick Days: {{sto}}</div>
    <div class="big-button">
	    <a href="/register-user">Create New Staff Member</a>
    </div>
    <div>{{message}}</div>
</div>
