<h1>Schedule</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 menu">
            <div>Accumlated PTO: {{pto}}</div>
            <div>Remaining Sick Days: {{sto}}</div>
            <div class="big-button">
                <a href="/schedule">View My Schedule</a>
            </div>
            <div class="big-button">
                <a href="/send-request-form">Request Time Off</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
            {{#each schedule}}
                <div class="col-md-4 py-3">
                    <div><h4>{{date}}</h4></div>
                    <div>{{start_time}} to {{end_time}}</div>
                </div>
            {{/each}}
            </div>
        </div>
        <div class="big-button">
            <a href="#">Assign Schedule</a>
        </div>
    </div>
</div>